/* .container {
    height: 1200px;
    overflow-x: hidden;
   
}

.BU {
    text-align: center;
    
    margin: 40%;
    left: 20%;
    width: 343px;
    font-size: 2rem;
    border-radius: 10%;
    height: 60px;
    cursor: pointer;
    text-transform: uppercase;
    transition: transform 0.3s ease, color 0.3s ease;
}

.BU:hover {
    color: pink;
    transform: scale(1.1); 
button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
   button:hover span {
    color: black;
   }
   
   button::before,
   button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   button::before {
    content: "";
   
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   button:hover::before {
    transform: translate3d(100%, 0, 0);
   }
    */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.BU{
    background-color: #e84949;
    padding: 0.8rem 2.3rem;
    color: white;
    font-size: 18px;
    box-shadow: 5px spx 7px black;
}