.container{
    background-color: aqua;
    height: 300px;
    display: flex;
    border: 1px solid black;
}
.box{
    margin: 20px;
    height: 150px;
    border: 2px solid red;
    background-color: orange ;
    transition: transform 3s  cubic-bezier(0.9,-0.03, 0, 1.85) ;
    
}
.box:hover{
    background-color: pink;

    transform: translateX(450px);

    @keyframes mymove {
        0%   {top: 0px; background: red; width: 100px;}
        100% {top: 200px; background: yellow; width: 300px;}
      }    /* transform: rotate(360deg); */
}
